/* ---------------------------------------------

* Filename:     style.css
* Version:      1.0.0 (2014-10-14)
* Website:      http://www.zymphonies.com
                http://www.freebiezz.com
* Description:  System Style
* Author:       Zymphonies Dev Team
                info@zymphonies.com

-----------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Clear Floated Elements
*/

.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}

.clear:after {
  clear:both;
  content:' ';
  display:block;
  font-size:0;
  line-height:0;
  visibility:hidden;
  width:0;
  height:0;
}

* html .clear {
  height:1%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: #444;
  font-family: Arial,Helvetica,sans-serif;
  font-size:1.3em;
  line-height:160%;
  overflow-x: hidden;
  width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a {
  color: #9D102D;
  text-decoration:none;
}

a:hover {
  color: rgb(230, 80, 0);
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(34, 46, 54);
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  margin-bottom:6px;
  line-height: 125%;
}

h1 {
  font-size:32px;
}

.front h1.page-title {
  display: none;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h3 {
  font-size:18px;
}

h4 {
  font-size:16px;
}

h5 {
  font-size:15px;
}

h6 {
  font-size:14px;
}

p {
  margin-bottom:18px;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: 15px;
  width: 100%;
}

th, tr, td {
  vertical-align: middle;
}

.sticky-header th, .sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

th {
  background: #dbdbdb;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
  border-right: 1px solid #c8c7c7;
  color:#333;
}

td {
  background: #ebebeb;
  color: #747474;
  text-align: left;
  padding-left: 4px;
  border-right: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
}

code {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

mark {
  background-color:#fdfc9b;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

hr {
  border:none;
  border-top:#EEE 1px solid;
}

dt {
  font-weight:bold;
  margin-bottom:24px;
}

dd {
  margin-left:30px;
  margin-bottom:24px;
}

ul {
  list-style-type:disc;
  margin-left:15px;
  margin-bottom:12px;
}

ul ul {
  list-style-type:square;
  margin-bottom:0;
}

ul ul ul {
  list-style-type:circle;
}

ol {
  list-style-type:decimal;
  margin-left:30px;
  margin-bottom:24px;
}

ol ol {
  list-style: upper-alpha;
  margin-bottom:0
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

abbr,
acronym {
  border-bottom:#999 1px dotted;
  cursor:help;
}

big {
  font-size:1.3em;
}

cite,
em {
  font-style:italic;
}

ins {
  background-color:#fdfc9b;
  text-decoration:none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote, q {
  quotes:none;
  border: 1px solid rgb(226, 220, 220);
  background: rgb(250, 247, 247) url(images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

strong {
  font-weight:bold;
}

sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  position:relative;
  font-size:10px;
}

sup {
  bottom:1ex;
}

sub {
  top:.5ex;
}

img,
video {
  max-width:100%;
  height:auto;
}

video {
  display:block;
}

audio {
  max-width:100%;
}

.field-label {
  margin-bottom: .5em;
}

.content {
	position: relative;
}

.content a img {
  padding:5px;
  box-shadow:0 0 3px #EEE;
  background:#FFF;
  border:#EEE 1px solid;
}

.content a:hover img {
  background:#F0F0F0;
}

/*
  Theme Design, Layout and Typography
*/

#inner_header_wrapper {
  position:relative;
  margin:0 auto;
  position: relative;
}

#header {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #header {
    margin-top: 2em;
  }
}

#logo {
  float: left;
  margin: 0 1em 1em 1.5em;
}

#site-title a,
#site-description {
  color:#444;
  font-weight: 300;
}

#site-title,
#site-description {
  float:left;
}

#site-title {
  margin: 25px 0;
  font-size:30px;
  font-weight:bold;
  display: none;
}

#site-title a{
  float: left;
  line-height: 100%;
}

#site-description {
  color: rgb(148, 146, 146);
  margin: 0;
  float: left;
  clear: both;
  font-size: 16px;
  line-height: 100%;
}

/* Insonews, Merkblätter, Infobriefe */
.field-name-body {
    margin-bottom: 1em;
  }
.field-name-field-datei {
  margin-bottom: 2em;
}
.field-name-insonews-teaser p {
    font-weight: bold;
}
.insonews .views-row,
.merkblaetter .views-row,
.downloads .views-row {
  border-bottom: 1px solid #D3D7D9;
  margin-bottom: 2em;
  position: relative;
}
.insonews .views-row-1,
.merkblaetter .views-row-1,
.downloads .views-row-1 {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #D3D7D9;
}
li.print_html {
    position: absolute;
    top: 0;
    right: 0;
}
.insonews .views-row-1 li.print_html {
    top: 3.2em;
}

li.node-readmore {
    position: absolute;
    bottom: 1.8em;
    right: 0;
}
@media screen and (min-width: 767px) {
  .field-name-field-view .field-name-body {
    max-width: 80%;
    margin-bottom: 0;
  }
}

#main-menu {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  background: none repeat scroll 0 0 rgb(39, 39, 39);
}

#main-menu ul {
  float:left;
  padding:0;
  margin:0;
  list-style:none;
  font-size:13px;
}

#main-menu li {
  background: none;
  position:relative;
  float:left;
  padding:0;
  margin:0;
  font-size: 14px;
  border-right: 1px solid #444;
}

#main-menu ul li:first-child {
  padding-left:0;
}

ul, ol, div.item-list ul{
  margin: 5px 0 5px 0;
  padding: 0;
}

ul li, ul.menu li, ul.links li, .item-list ul li {
  /*background: url("images/marker.png") no-repeat scroll left 6px transparent;*/
  list-style: none outside none;
  margin: 0 0 2px;
  padding: 0 0 0 15px;
}

#main-menu a {
  display: block;
  color: #444;
  text-align: center;
  padding: 13px 23px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

#main-menu a:hover,
#main-menu li a.active{
  color: #9D102D;
  text-decoration: none;
  background: none repeat scroll 0 0 #9D102D;
}
#main-menu li li a.active{
  background: rgb(30, 39, 46);
}

.drop-down-toggle {
  position: absolute;
  top: 5px;
  right: 16px;
  display: none;
  width: 28px;
  height: 28px;
  border-radius:15px;
  background:#333;
  background:-moz-linear-gradient(#333,#444);
  background:-webkit-linear-gradient(#333,#444);
  background:-o-linear-gradient(#333,#444);
  background:-ms-linear-gradient(#333,#444);
  background:linear-gradient(#333,#444);
  border:#aaa 3px solid;
}

.drop-down-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 8px 0 0 3px;
  border-top: 8px solid #aaa;
  border-left: transparent 8px solid;
  border-right: transparent 8px solid;
}

#main-menu li li {
  float:none;
  min-width:190px;
  padding:0;
  margin:0;
}

#main-menu li li a{
  color: #C5C5C5;
  min-width: 150px;
  margin: 0;
  background: rgb(30, 39, 48);
  border-top: 1px solid rgb(70, 69, 69);
  font-size: 11px;
  text-align: left;
  overflow: hidden;
  padding: 10px;
  font-weight: normal;
}

#main-menu li li:first-child > a {
  border-top:none;
}

#main-menu li li a:hover {
  background: rgb(52, 69, 82);
  color: rgb(138, 138, 138);
}

#main-menu li ul {
  display:none;
  position:absolute;
  z-index:9999;
  min-width:190px;
  height:auto;
  padding:0;
  margin:0;
  box-shadow:0 0 3px #333;
}

#main-menu li ul ul {
  margin:-40px 0 0 190px !important;
}

#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
  display:block;
  overflow: visible !important;
}

#main-menu .nav-toggle {
  display:none;
}

#main-menu ul li.leaf, #main-menu ul li.expanded, #main-menu ul li.collapsed {
  list-style:none;
}

#main-menu ul.menu li {
  margin: 0;
}

#main-menu li.expanded, #main-menu li.collapsed, #main-menu li.leaf {
  margin: 0;
  padding: 0;
}

/* New Menu Design */
.region-menu {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    overflow: hidden;
    /*background: #333;*/
}
#block-menu-block-1.block-menu-block {
  min-height: 70px;
  float: right;
  margin-bottom: 3em;
  margin-top: 12px;
}
#block-menu-block-1 ul.menu {
  position: relative;
  margin: 0;
  padding: 0;
}
#block-menu-block-1 ul.menu li {
  background: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
#block-menu-block-1 ul.menu li a {
  display: inline-block;
  color: #444;
  text-align: center;
  padding: .3em 1em;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
#block-menu-block-1 ul.menu li a:hover {
  color: #9d102d;
  text-decoration: none;
  border-bottom: 4px solid #9d102d;
}
#block-menu-block-1 ul.menu li a.active,
#block-menu-block-1 ul.menu li a.active:hover {
  color: #9d102d;
  text-decoration: none;
}
#block-menu-block-1 ul.menu li li a.active {
  color: #9d102d;
  text-decoration: none;
}
#block-menu-block-1 ul.menu > li.active-trail > a.active {
  color: #9d102d;
  border-bottom: 4px solid #9d102d;
}
#block-menu-block-1 ul.menu > li.active-trail > a {
  color: rgb(153, 153, 153);
  border-bottom: 4px solid #9d102d;
}
#block-menu-block-1 ul.menu > li.active-trail > ul > li > a.active-trail {
  color: #9d102d;
  border: none;
}
#block-menu-block-1 ul.menu li a.active-trail:hover {
  font-style: normal;
  cursor: default;
}
/* 2. Ebene */
#block-menu-block-1 ul.menu li:hover ul,
#block-menu-block-1 ul.menu li.expanded ul {
  display: block;
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
}
#block-menu-block-1 ul.menu ul {
  display: none;
  margin: 0;
}
#block-menu-block-1 ul.menu ul li a {
  padding: .3em 1em;
  font-size: .9em;
}
li.dhtml-menu-open > a {
  font-style: normal;
}
li.expanded > a {
  cursor: default;
}

/* Responsive Menu */
.responsive-menus.responsified span.toggler {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #272727;
  padding: .5em 0;
}
.responsive-menus.responsified ul ul {
  background: #444;
}
.responsive-menus.responsified ul li {
  background-image: none;
}
.responsive-menus.responsified .responsive-menus-simple {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

/* Footer Menu */
#block-menu-menu-footer-menu {
    float: left;
    margin: 0;
  }
/* Footer E-Mail Block */
#block-block-4 {
  float: left;
  width: auto;
  text-align: center;
  margin: 0;
  padding-left: 0;
}
@media screen and (min-width: 400px) {
  #block-menu-menu-footer-menu {
    float: right;
  }
  #block-block-4 {
    padding-left: 0;
  }
}
#block-menu-menu-footer-menu ul.menu {
  margin: 0;
}
#block-menu-menu-footer-menu li {
  display: inline-block;
  background: none;
  padding: 0;
}
#block-menu-menu-footer-menu a {
  text-transform: uppercase;
  padding: 1em;
}
#footer a {
  display: block;
}
#footer a:hover {
  text-decoration: underline;
  color: #9d102d;
}

#container {
  clear: both;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1%;
  /*background: #f9f9f9;*/
  background: #fff;
}

.region-slideshow {
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
  /*background: #f9f9f9;*/
  background: #fff;
}
.region-slideshow .block, .region-slideshow p {
  margin-bottom: 0;
}

#slider {
  background: transparent;
  position:relative;
  box-shadow: none;
  overflow: visible;
}

.nivo-caption {
  background: rgba(255, 255, 255, .6);
  margin: 20px;
  width: 60%;
  font-size: 13px;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  line-height: 120%;
}

.slider-wrapper #slider{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.theme-default .nivo-controlNav{
  padding: 20px 0 0 0;
}

#slider a:active {
  outline:none;
}

.slides,
.flex-control-nav {
  margin:0;
  padding:0;
  list-style:none;
}

.slides {
  width:100%;
  overflow:hidden;
}

#slider .slides > li {
  display:none;
  position:relative;
  margin:0;
}

#slider .slides li:first-child {
  display:list-item;
}

.flex-pauseplay span {
  text-transform:capitalize;
}

.slides:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}

.flex-control-nav {
  position:absolute;
  right:4%;
  bottom:7.3%;
  text-align:center;
}

.flex-control-nav li {
  display:inline-block;
  margin:0 0 0 15px;
}

.flex-control-nav li:first-child {
  margin:0;
}

.flex-control-nav li a {
  display:block;
  width:24px;
  height:24px;
  box-shadow:0 0 3px #999;
  cursor:pointer;
  background:#e9e9e9;
  color:#333;
  font-weight:bold;
  line-height:24px;
}

.flex-control-nav li a.active,
.flex-control-nav li a:hover {
  background:#fff;
}

#slider .post {
  padding:1.83%;
  margin:0;
  box-shadow:none;
  background:none;
}

#slider .entry-container {
  float:right;
  max-width:50%;
}

#slider .slide-image {
	max-width:49%;
	padding:0.47%;
	background:#E9E9E9;
}

#slider .entry-header,
#slider .entry-summary {
  margin-left:5%;
}

#slider .entry-title{
  margin-left:0;
  margin-bottom:15px;
}

.content-sidebar-wrap {
  float:left;
  width:100%;
}
.front .content-sidebar-wrap{
  margin-top: 20px;
}

.content-sidebar-wrap #content {
  display: inline;
  margin-bottom: 2.7%;
  float:right;
  width:100%;
  min-height: 250px;
}

#sidebar-first {
  color: #888;
  float: left;
}

#sidebar-second {
  color: #888;
  float: right;
}
.page-suche h1 {
	display: none;
}
#search-api-page-results h2 {
	font-size: 1.6em;
}
#block-search-api-page-suche {
  width: 100%;
  margin: 0;
  position: relative;
}
#search-api-page-search-form {
  display: none;
}
#search-api-page-search-form-suche .form-item {
	margin: 0;
	padding-bottom: 1em;
}
#search-api-page-search-form-suche .form-item input {
  width: 95%;
  width: calc(100% - 3em);
  padding: 10px 30px 10px 10px;
  margin: 0.5em 1.5em;
  background: #fff;
  border: 1px solid #444;
  font-size: 1em;
}
#search-api-page-search-form-suche input.form-submit {
    position: absolute;
    right: 4em;
    top: 2em;
    font-weight: bold;
    text-indent: -999em;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABcUlEQVRIib3Uu05bQRDG8Z8UqgQpXZQGGkyfIrUlJ+AK8yxAHoQWkzeg4gkSCD2mSXDPpeMiCyUVIcXO0Tmy7HPWkeGTVlqt5pv/zuyFyepiH0M8xBjG2voUT5ZWcYynhvE9YmdSG7eVJEfYwkaM7TH4bXiy1MJ9GC/RifU3+DgW28FVBdLKAfwIwwWW8BZ7+BPr41qOjTzhW1PyNWXZnUh+hkf0sTnFt17xfaoDfFUenNj5X6nvTSoq368LGkbQFhbxu8lQ0XZ4f9UFjSKoJx1oMc9RL+JHuYBZlQU4V7ZoVu3IaFFxyMf/ATgJb78uqHpNP8+QvCvzmlJ+ARfSI2rSMq5lPjTSc78Lw5X6SrqV5DfhfYeFJkg7DEXZJ9Ih9mJ8Ufa8SN7GawxwkANpSS8657teieSHlfUsCOnQ+vgp3fFRzPvKn/Y9TifAsyFNWohkkyp8Mcir54bszgNQB7mbF2AaZDBPAKnnu9LOB/jwDwIWouGFz/PzAAAAAElFTkSuQmCC") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 0;
    padding: 0;
}
#search-api-page-search-form-suche input.form-submit:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACF0lEQVRIib2UsW4TQRCGR0oqiG5nkQIIiTQ41e6/suTUVhJIKpsu7xHCC+QNUiHl7Js1SumKJyAk6TFNIH0IXWJkRVDBUdz5YoF9XovASCedVjP/NzuzM0RjTJTdFI2WaJwJ41oY16JxJhqttrIb42KCrBNVl4VxJIy07POMw05UXZ5JPGHUPeNqROidsNv22ja8tg3PeDEK94yrhFEPE49MRRhf8+DPwmaNiOjggbsryq6M+gqbNWFcFJDIVEKyP87Fz/09+zjWNeU19kXhuzDS3/1jbZayRJAKu7el4l7h2U1ZzFqsa0oYH4TxQzRiYfd8XFxb2Y2iXMqtl2Rv28PGERF5jX1h/PTaNoJvrtGa6JQ/xVTYbb9aNAvC+FYaMGJ541NR+DgZwBgII020a4qyK8P/EECiXTMv0yAIECI6O0Dh07BEswKEsTO1RMMmC+NodoA9yZscT3QafaaJck+DxZXdDHqmWSbFCjiPtVmaJp4P2pegQSMqVkU/h1yU3STPPBfHZRKZysGCu79Lq/PlEEZdGJc3U21PhLGTaNfMXot9WdR8KM6ox49qdxJ2Pa/RnQ6JTMUzDkPW9Wtln2TieFOch0CIiLxy69kewmk+JwNhnGZn2abtLJqHwnj/BzwUMs12aXXea3TH3vB/Qbq0NfdPIcLY+2vAFEj/VgCTIAm73q0BiIi6tDUnjD1h9BN2vQ6b6i8qQ260WV24rQAAAABJRU5ErkJggg==") transparent no-repeat;
}

/* 3 columns */

body.two-sidebars .content-sidebar-wrap {
  width:80%;
}

body.two-sidebars #content {
  width:75%;
}

body.two-sidebars #sidebar-first {
  width: 24%;
}

body.two-sidebars #sidebar-second {
  width: 19%;
}

/* 2 columns: sidebar-first */

body.sidebar-first .content-sidebar-wrap {
  width: 100%;
}

body.sidebar-first #content {
  width: 80%;
}

body.sidebar-first #sidebar-first {
  width: 19%;
}

/* 2 columns: sidebar-second */

body.sidebar-second .content-sidebar-wrap {
  width: 80%;
}

body.sidebar-second #content {
  width: 100%;
}

body.sidebar-second #sidebar-second {
  width: 19%;
}

#post-content {
  padding: 0 20px;
}

.breadcrumb {
  margin: 5px 20px 10px 20px;
  position: relative;
  top: -20px;
}

#head, #content, #sidebar-second, #sidebar-first {
  margin-top: 10px;
}

.node {
  margin:20px 0;
}

.node h2.title, .page-title {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.node h2.title a{
  color: #000;
}

.block {
  margin-bottom: 1%;
}

.block > h2{
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0px;
  padding: 0px 0px 4px 0px;
}

.theme-default .nivo-directionNav a {
 background: url("images/arrows.png") no-repeat;
}

.theme-default a.nivo-nextNav {
  background-position: -30px 0;
}

#footer-area .block > h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

#footer-area ul.menu li a.active{
  color:#ddd;
}
.mail {
  float: right;
}

.region-front-welcome{
  background: url("images/hr.png") top center no-repeat;
  padding-top: 2%;
  margin-top: 3%;
}

.region-front-welcome h2{
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.submitted {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 4px;
  clear: both;
  color: rgb(56, 56, 56);
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 8px;
}

.links {
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}
.links h3 {
  margin: 1em 0 .5em;
}
.links .view-content div {
    margin-bottom: 1.5em;
}

/*ul.links {
  margin:0;
}

.links li a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #9D102D;
  border: 2px solid #9D102D;
  font-weight: normal;
  padding: .2em 1em;
  display: inline-block;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.links li a:hover {
  background: #9D102D;
  color: #fff;
}*/
ul.inline, ul.links.inline {
  float: right;
}
ul.links li {
  background: none;
}

/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/

table.cke_editor {
  background: transparent;
  border: 0;
}
table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/

.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-submit{
  cursor: pointer;
  margin:5px;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

.form-text {
  padding: 6px;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li{
  display: inline-block;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 140px 16px 0;
}

.field-name-field-tags a{
  padding: .2em 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 0 .5em .5em 0;
  color: #444;
}

.field-name-field-tags a:hover {
  color: #9D102D;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
div.item-list ul {
  margin: 0;
}
.item-list .pager li {
  background: none;
  border-radius: 4px;
  text-shadow: none;
  padding: 0;
}
.item-list .pager li a {
  display: inline-block;
  padding: 1em;
}
.item-list .pager .pager-next a,
.item-list .pager .pager-previous a,
.item-list .pager .pager-first a,
.item-list .pager .pager-last a {
  padding: 1em 0;
}
.item-list .pager li.pager-current {
  padding: 1em;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 16px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{
  font-size: 16px;
}

/* Images */

img { outline: 0; }

img.scale-with-grid { max-width: 100%; height: auto; }

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper {
  top: 0; padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
}

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
   border-radius: 0;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px; width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; }

.password-suggestions ul li { margin-left: 1.2em; }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Form Buttons */

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
a.btn {
  border: 2px solid #444;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  background: none;
  position: relative;
  font-weight:bold;
  padding: 4px 1em 5px 1em;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.btn:hover {
  cursor: pointer;
  color: #9d102d;
  background-color: #f9f9f9;
  border-color: #9d102d;
}
a.btn {
  margin-top: 1em;
  display: inline-block;
}

#block-search-form { padding-bottom: 7px; overflow: hidden; }

#block-search-form .content { margin-top: 0; }

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(images/search-button.png) no-repeat center top;
  overflow: hidden;
  border-radius: 3px;
}

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus { background-position: center bottom; }

#search-block-form .form-actions{ padding: 0; }

#search-block-form .form-actions input { margin: 1px 0; }

#search-form .form-item-keys label { display: block; }

ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin: 1em 0 2em; }

.search-results li:last-child { border-bottom: 0; padding-bottom: 0; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }

#top-area {
  clear:both;
}

#top-area {
  position:relative;
}

#top-area .block {
  margin: 0;
}

#top-area .block p{
  margin: 0;
}

#top-area .column {
  float: left;
  width: 32%;
  margin: 1.8% 0;
  margin: 0 5px;
  background: rgb(252, 252, 252);
  border: 1px solid rgb(241, 241, 241);
}

#top-area h2{
  padding: 9px 10px 0px 10px;
  color: rgb(34, 46, 54);
  margin-bottom: 0;
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

#top-area .column .content{
  padding: 10px;
}

#top-area .column:first-child {
  margin-left:0;
}

#top-area .column-title {
  color:#e0e0e0;
}

#top-area li {
  border-bottom:#555 1px dashed;
}

#footer {
  clear: both;
  color: #444;
  margin: 1em 0;
}

#footer a {
  color: #444;
}

#footer a:hover {
  color: #9D102D;
  text-decoration: underline;
}

#footer_wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

#footer-area {
  position:relative;
  margin: 0 1.5em;
}

#footer-area .column:first-child {
  margin-left:0;
}

#footer-area .column-title {
  color:#e0e0e0;
}
.region-footer-first,
.region-footer-second {
  padding: 1em 0 0 0;
}
@media screen and (min-width: 768px) {
  .region-footer-first,
  .region-footer-second {
    width: 50%;
    float: left;
  }
  .region-footer-first {
    text-align: left;
  }
  .region-footer-second {
    text-align: right;
  }
}

#copyright {
  clear: both;
  padding: 0 0px;
}

.copyright {
  float:left;
  max-width:728px;
}

.credits {
  float:right;
  max-width:370px;
  margin-right:12px;
  text-align:right;
}

.footer_inner_credit p {
  margin:0;
}

.footer_credit{
  color: #777;
  font-family: Arial;
  overflow: auto;
  padding: 10px 0px;
}

.footer_inner_credit{
  max-width: 1000px;
  margin: 0 auto;
}

.social-icons {
  float: right;
}

.social-icons ul {
  margin: 0;
}

.social-icons li {
  display: inline-block;
  list-style: none;
  background: none;
  padding: 3px 0px;
  margin: 0;
}

.social-icons li img:hover{
  opacity: .6;
}

.social-icons li img {
  display: block;
}

.contextual-links-region {
  position: inherit;
}

/*Admin*/

#toolbar li, .tabs.primary li{
  background: none;
}

ul.menu li{
  padding-left: 15px;
}

/* Kontakt */

.gmap-popup {
    min-width: 200px;
    min-height: 100px;
    overflow: hidden;
}

.leaflet-tagged-marker div.tag-below-marker {
  color: #9d102d;
}

/* Special styles for new splash homepage */
html, body {
        margin: 0;
        overflow-x: hidden;
    }
body {
  position: relative;
}
/*body.front {
	overflow: hidden;
}*/
body.front,
.front #container {
	/*background: #9C112E;
	color: #fff;*/
	background: #fff;
	font-family: Candara, Verdana, Helvetica, sans-serif;
}
.front #container {
	display: flex;
	flex-direction: column;
  	justify-content: center;
	items-align: center;
	height: 100%;
	height: calc(100vh - 29px);
	max-width: 650px;
	padding: 0;
}
.front #footer {
	display: none;
}
.front a {
	color: #666;
	font-weight: bold;
}
.front header {
	display: none !important;
}
.front .content img {
	margin: 2em auto;
	display: block;
	text-align: center;
      max-width: 400px;
      width: 100%;
}
.front .menu li a {
    font-family: Candara, Verdana, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: regular;
    text-decoration: none;
    color: #666;
    padding: 1em;
    display: block;
}
.front .menu,
#foot,
#foot .menu {
	display: flex;
      flex-direction: row;
 	justify-content: center;
      align-items: center;
	margin: 0;
      max-width: 100%;
}
ul.menu li {
	margin: 0;
	padding: 0;
}

.field-name-title h2 {
  padding-right: 4em;
}
